SITE_URL=[karriere.zahnaerztemg.de](https://karriere.zahnaerztemg.de)
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=ersetzen_durch_sicheres_passwort
META_PIXEL_ID=
GA_MEASUREMENT_ID=
DATABASE_URL=file:./dev.db
CONTACT_EMAIL=gathen@zahnaerztemg.de
